<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Bar Check</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper black">
                <div class="container">
                    <a href="/bars">Bar Check</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="space-between">
                            <% if (user) { %>
                            <a href="/logout">Log Out</a>
                        <li><a href="/bars/new">Add a Bar</a></li>
                        <% } else { %>
                        <a href="/auth/google">Login with Google</a>
                        <% } %>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="parallax-container">
            <div class="parallax">
                <img src="<%= bar.detailsImg %>" style="display: block; transform: translate3d(-50%, 99px, 0px);">
            </div>
        </div>
        <div class="section white">
            <section>
                <div>Bar Name: </div>
                <div><%= bar.name %></div>
                <div>Location: </div>
                <div><%= bar.location %></div>
                <div>Description: </div>
                <div><%= bar.description %></div>
                <div><%= bar.poster %></div>
            </section>
        </div>
        <div class="divider"></div>
        <div class="section white">
            <div class="container center-align">
            <% if (user) { %>
            <form action="/bars/<%= bar._id %>/drinks" method="POST">
                <% drinks.map(function(drink) { %>
                <label>
                    <input name="drinkId" type="checkbox" value="<%= drink._id %>" />
                    <span><%= drink.name %></span>
                </label>
                <% }) %>
                <button type="submit">Add Drink to Bar</button>
            </form>
            <% } %>
            <section>
                <% bar.drinks.forEach(function(drink, num) { %>
                <li><%= drink.name %></li>
                <li><%= drink.ingredients %></li>
                <li><%= drink.description %></li>
                <% if (user) { %>
                <form action="/bars/<%= bar._id %>/drinks/<%= num %>?_method=DELETE" method="POST">
                    <button type="submit">Delete Drink</button>
                </form>
                <% } %>
                <% }) %>
            </section>
        </div>
        </div>
        <div class="divider"></div>
        <div class="section white">
            <div class="container center-align">
        <% if (user) { %>
        <div class="left">
        <a class="waves-effect waves-light btn-small blue lighten-3" href="/drinks/new">Create Drink</a>
        </div>
        <a class="waves-effect waves-light btn-small blue-grey lighten-3" href="/bars/<%= bar._id %>/edit">Edit Bar</a>
        <div class="right">
        <form action="/bars/<%= bar._id %>?_method=DELETE" method="POST">
            <button class="waves-effect waves-light btn-small red lighten-3" type="submit">Delete Bar</button>
        </form>
    </div>
        <% } %>
        <script>
            $(document).ready(function () {
                $('.parallax').parallax();
            });
        </script>
        </div>
        </div>
    </main>
</body>

</html>